body * {
    font-family: Roboto, Lato, Helvetica, sans-serif;
    max-width: 100%;

}

.logo {
    width: 150px;
    height: 75px;
}

.navbar-toggler-icon {
    color: #ff6d00 !important;
}

.nav-item {
    padding: 5px 15px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    /* font-weight:; */
    color: #042e9c !important;
}

.nav-item:hover {
    border-bottom: 2px solid #ff6d00 !important;
    border-radius: 10px;
}

.dropdown-item {
    color: #0a3cdd !important;
}

.dropdown-item:hover {
    color: #ff6d00 !important;
}

.dropdown-item:focus {
    color: #ff6d00 !important;
    background-color: #ffffff;
}

#home img{
    height: 535px !important;
}

#btn-carousel {
    background-color: rgba(255,255,255,1) !important;
    border: #000000;
}

#btn-carousel:hover {
    transform: scale(1.03);
}

#btn-link {
    color: #042e9c;
    text-decoration: none;
}

#btn-link:hover {
    color: #ff6d00;
    text-decoration: underline;
    text-decoration-color: #042e04;
}

#img-1 {
    /* height: 535px; */
    width: 100%;
    background: #000000;
    overflow: hidden;
}

#img-1 img {
    object-fit: fill;
    opacity: 0.5;
}

#img .carousel-caption {
    top: -200px !important;
    font: Lato, serif;
}

#img-2 {
    /* height: 535px; */
    width: 100%;
    background: #1b0d03;
    overflow: hidden;
}

#img-2 img {
    object-fit: fill;
    opacity: 0.5;
}

#img-3 {
    width: 100%;
    background: #000000;
    overflow: hidden;
}

#img-3 img {
    object-fit: fill;
    opacity: 0.8;
}

/* about us */
#about-us {
    font-family: Verdana, Helvetica, sans-serif !important;
    background-color: rgba(255, 123, 0, 0.17);
    /* background-image: url('..//'); */
}

#about-us .container {
    max-height: fit-content;
}

#about-us h1, #services h1, #portfolio h1 {
    font-size: 38px;
    text-align: center;
    color: #042e9c;
    padding-top: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about-us hr, #services hr, #portfolio hr {
    width: 106px;
    margin: auto;
    border: 2px solid #020201;
    margin-bottom: 30px;
    color: #020201;
    position: relative;
    animation-name: example;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes example {
    from {width: 20px;}
    to {width: 106px;}
}

#heirloom {
    height: 500px;
    width: 500px;
    max-width: 550px;
}

#heirloom img {
    width: 450px;
    height: 400px;
    margin: 36px 20px 0 20px;
    clear: both;
    border-radius: 50%;
}

#about-us p {
    font-size: 1.4em;
    font-family: Roboto, helvetica, sans-serif;
    padding: 20px 0px 20px 20px;
}


